<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>freshFood</title>
    <link rel="stylesheet" href="/path/to/flickity.css" media="screen" />
  </head>
  <body>
      {{!-- topbar --}}
    {{>topbar}}
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
    {{>hero}}
    <!-- about us -->
    {{>about}}
    <!-- services -->
    {{>service}}
    <!-- footer -->
    {{>footer}}



    <script src="/path/to/flickity.pkgd.min.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>