<section class="aboutus">
      <div class="container">
        <h1 class="section-heading">About us</h1>
        <div class="about-product">
          <div class="img">
            <img src="./images/plate-1.png" alt="img">
          </div>
          <div class="detail">
            <h1>FreshFood is a long established fact that <br> user will be distracted </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Quae assumenda nesciunt ipsam nisi temporibus eveniet</p>

          </div>
        </div>
        
      </div>
    </section>