<nav>
      <div class="top">
        <div class="container">
          <div class="contact">
            <img src="./icons/phone.svg" alt="img" />
            <div>
              <h4>Call us +91 8708604683</h4>
              <h4>Email:freshFood@gmail.com</h4>
            </div>
          </div>
          <div class="branding">
            <img src="./icons/logo.svg" alt="img" />
          </div>
          <div class="time">
            <img src="./icons/clock.svg" alt="img" />
            <div>
              <h4>Working Hours</h4>
              <h5>24*7 anytime</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar magic-shadow">
        <div class="container">
          <a href="/">Home</a>
          <a href="/">About</a>
          <a href="/product">Products</a>
          <a href="/">Services</a>
          <a href="/">Contact us</a>
        </div>
      </div>
    </nav>