<section class="services">
      <div class="container">
        <h1 class="section-heading">Our Services</h1>
        <div class="our-services">
          <div class="service-card">
            <img src="./icons/transport.svg" alt="img" />
            <h2>Free home Delivery</h2>
            <p>Lorem ipsum dolor amet.</p>
          </div>
          <div class="service-card">
            <img src="./icons/bag.svg" alt="img" />
            <h2>30 Day Return Services</h2>
            <p>Lorem ipsum dolor amet.</p>
          </div>
          <div class="service-card">
            <img src="./icons/usd.svg" alt="img" />
            <h2>Money Back Guarentee</h2>
            <p>Lorem ipsum dolor amet.</p>
          </div>
        </div>
      </div>
    </section>